{% extends "base.html" %}



{%block title %} How to earn {% endblock title %}
{% block meta %}     {% endblock meta %}

{%block content %} <div class="container">

<h1 class='urdu'>اس ویب سائٹ کے ذریعے آپ ہزاروں،لاکھوں روپے کما سکتے ہیں. یہ سب آپ کے سوشل نیٹ ورک پر منحصر ہے .جتنا زیادہ آپ کا سوشل سرکل ہوگا آپ اتنے زیادہ پیسے کما سکیں گے. <br> اگر آپ کے  Facebook, WhatsApp, LinkedIn, tiktok, and snack  پر بہت زیادہ فرینڈز ہیں تو ایک بار ضرور پڑھیں  </h1>
<hr>

<p class='urdu'>
    
    اس ویب سائٹ سے پیسے کمانے کے لیے 
سب سے پہلے آپ نے اس ویب سائٹ پر اکاؤنٹ بنا نا ہے.<br> 
اس کے بعد آپ کو آپ کا ریفرل نمبر دے دیا جا یگا .<br>
آپ نے  اس کو اپنے دوستوں کے ساتھ شیئر کرنا ہے، 
اگر آپ کے دوست آپ کے ریفرینس سے اکاؤنٹ بناتے ہیں اور کسی نوکری کے لیے درخواست دیتے ہیں، <br> تو ان کی ہر درخواست  کا کمیشن آپ کے اکاؤنٹ میں جمع
ہو جا ئیگا .<br> 
آپ کے جتنے دوست اس ویب سائٹ سے نوکری کی درخواست دینگے، ان کی ہر ایک درخوست کی رجسٹریشن فیس کا بیس فیصد آپ کو ملے گا.
یہ کمیشن ان کے اکاونٹ سے نہیں کا ٹا جائیگا.اور نہ ہی  آپ کے ریفرنس کی وجہ سے ان کے اکاؤنٹ میں کسی قسم کی کوئی کٹوتی کی جا ئیگی .<br>
نوکری کی درخوست کی فیس سب کے لیے یکساں ہو گی .
آپ ریفرل کی دی گی درخواستوں کو اپنی ارننگ والے پیج پر دیکھ سکتے ہیں ،<br>
آپ یہ بھی دیکھ سکتے ہیں کہ  آپ کے دوستوں  نے کن کن نوکریوں کے لیے درخوست دی، اور اس کا کتنا کمیشن آپ کو ملا .<br>
آپ کسی بھی وقت اپنی رقم جاز کیش یا  ایزی پیسا کے ذریعے  وصول کر سکتے ہیں، بشرطیکہ وہ رقم ایک سو روپے سے کم نہ ہو.<br> ، 
آپ ان پیسوں سے اور نوکریوں کے لیے بھی درخواستیں دے سکتے ہیں ، .<br> اس طرح آپ مفت میں نوکری کی درخواستیں بھی دے سکتے ہیں     
</p>

</div>

<style>
    @import url(https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);
    .urdu{
        font-family: 'Noto Nastaliq Urdu', serif;
        font-size: 1.5em;
        direction: rtl;
        line-height: 4rem;
        text-align:right;
      }
</style>
{% endblock %}