{% extends "base.html" %}



{%block title %}Latest updates{% endblock title %}
{% block meta %}   


<meta name="description" content="{% for i in jobnotifications %}{{i.tojob}}{% endfor%}">
<meta name="keywords"content="{% for i in jobnotifications %} {{i.notice}}{% endfor%}">


{% endblock meta %}

{%block content %} 
<div class="container">
{% for i in jobnotifications %}


<!-- 
{{i.notice}}
{{i.notice_pic}}
{{i.timestamp}} -->

<div class="card">
    <div class="card-header">
        {{i.tojob.jobtitle}}</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <!-- <p>{{i.notice_pic}}  </p> -->


<div class="row"> <div class="col-sm-2">

{% if i.tojob.sectorlogo%}
        <img style='height:5rem;' src="{{i.tojob.sectorlogo.url}}" alt="sans" > 
      {% endif %}
</div>
<div class="col-sm-10">

        <p>{{i.notice|safe}}  </p>
        <a href="{{i.get_absolute_url }}" style='color:blue;'>for more details</a>
        <footer class="blockquote-footer"><cite title="Source Title">{{i.timestamp}}</cite></footer>

</div>
<div>



      
      </blockquote>
    </div>
  </div>




{% endfor %}








</div>
{% endblock %}

