<!DOCTYPE html>
{% load static %}

<html lang = "en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-file-upload/4.0.11/jquery.uploadfile.min.js"></script>
<!-- for flasher notifications -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

{% block meta %}{% endblock meta %}
<title>{%block title %}{% endblock title %}</title>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script> -->


</head>

<div class="container" style="position: sticky; z-index: 1000;">
{% include 'navbar.html' %}
</div>





<div class="container mt-6">
  <p id="flash"></p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if message.tags %} <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>{% endif %}
        {% endfor %}
    </ul>
    {% endif %}</div>

    {%block content %}
    {% endblock %}


 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  <!-- from bootstrap -->
  
<!-- Flashy CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/flashy.min.css' %}">

<!-- Flashy JS -->
<script src="{% static 'js/flashy.min.js' %}"></script>


  </body>

</html>