:root {
    --dark-blue: #03045E;
    --blue-1: #023E8A;
    --blue-2: #0077B6;
    --blue-3: #0096C7;
    --blue-4: #00B4D8;
    --blue-5: #48CAE4;
    --light-blue-1: #90E0EF;
    --light-blue-2: #ADE8F4;
    --light-blue-3: #CAF0F8;
  }

  