.joblistcomponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 5px;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  @media (max-width: 768px) {
    .card {
      width: 45%; /* Cards take up 45% of the container on smaller screens */
    }
  }

  @media (max-width: 480px) {
    .card {
      width: 100%; /* Cards take up 100% on very small screens */
    }
  }